Repository okanyucel2/cigkoftecibey-webapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, python-lint

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx vue-tsc --noEmit'
  language: system
  stages:
  - pre-commit
  pass_filenames: false

python-lint:
  name: Python Ruff Check
  entry: bash -c 'cd backend && ruff check app/ tests/'
  language: system
  stages:
  - pre-commit
  pass_filenames: false

fix(api): resolve 500 error on /api/users + add P0.46 dogfooding
  backend/app/api/users.py
  backend/tests/conftest.py
  backend/tests/test_users_api.py
Due: python-lint

feat(router): Phase 1 router restructure - 6 navigation groups (Task 1.1)
  backend/requirements.txt
  backend/tests/test_cash_difference_history.py
  frontend/src/router/index.ts
  frontend/src/views/Layout.vue
  frontend/tests/e2e/_config/test_config.ts
  frontend/tests/e2e/navigation/router-structure.spec.ts
  reports/sessions/PROGRESS_2026-01-04_phase1-router.md
Due: typescript-check, python-lint

feat(models): add TenantMixin for multi-tenant support
  backend/app/models/mixins.py
  backend/tests/test_tenant_mixin.py
Due: python-lint

feat(deps): add get_current_tenant dependency for multi-tenant context
  backend/app/api/deps.py
  backend/tests/test_tenant_dependency.py
Due: python-lint

feat(db): add tenant_id migration Phase 1 (nullable)
  backend/alembic/versions/k2l3m4n5o010_add_tenant_id_phase1.py
Due: python-lint

test: add multi-tenant isolation fixtures
  backend/tests/fixtures/__init__.py
  backend/tests/fixtures/tenant_fixtures.py
  backend/tests/test_tenant_isolation.py
Due: python-lint

fix(multi-tenant): critical security fixes + composite indexes
  backend/alembic/versions/k2l3m4n5o010_add_tenant_id_phase1.py
  backend/app/api/deps.py
  backend/tests/test_tenant_dependency.py
Due: python-lint

feat(multi-tenant): add super admin RLS bypass flag + Phase 2 docs
  backend/app/api/deps.py
  backend/docs/PHASE2_RLS_POLICIES.md
  backend/tests/test_tenant_dependency.py
Due: python-lint

fix(nav): Import Hub navigation to correct Kasa Farkı route
  frontend/src/views/Gelirler.vue
  frontend/src/views/ImportHub.vue
  frontend/tests/e2e/navigation/import-hub-navigation.spec.ts
Due: typescript-check

feat(import): auto-open import modal when navigating from Import Hub
  frontend/src/views/CashDifference.vue
  frontend/src/views/ImportHub.vue
  frontend/tests/e2e/navigation/import-hub-navigation.spec.ts
Due: typescript-check

test(smoke): add API smoke test script
  scripts/smoke_test.sh
Due: none

fix(cors): add GENESIS dynamic port 19049 to CORS origins + full-stack smoke test
  backend/app/config.py
  scripts/full_smoke_test.sh
Due: python-lint

feat(health): enhance health endpoints with real DB verification
  backend/app/api/health.py
  backend/app/core/health_checks.py
Due: python-lint

fix(import): use direct route /sales/verify to avoid redirect losing query param
  frontend/src/views/ImportHub.vue
Due: typescript-check

feat(infra): add session verification script + Import Hub fix + E2E test
  frontend/src/views/CashDifference.vue
  frontend/src/views/Gelirler.vue
  frontend/tests/e2e/import-hub-modal.spec.ts
  scripts/verify-and-test.sh
Due: typescript-check

feat(guard): add guard.py and Playwright smoke tests
  frontend/tests/e2e/smoke/critical-path.spec.ts
  scripts/guard.py
Due: typescript-check, python-lint

feat(design-system): add Design System v1.1 foundation
  .gitignore
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/main.css
  frontend/src/assets/styles/design-tokens.css
  frontend/src/components/ui/buttons/BaseButton.stories.ts
  frontend/src/components/ui/buttons/BaseButton.vue
  frontend/src/components/ui/buttons/index.ts
  frontend/src/components/ui/forms/BaseInput.stories.ts
  frontend/src/components/ui/forms/BaseInput.vue
  frontend/src/components/ui/forms/BaseTagSelect.stories.ts
  frontend/src/components/ui/forms/BaseTagSelect.vue
  frontend/src/components/ui/forms/index.ts
  frontend/src/components/ui/index.ts
  frontend/tailwind.config.js
Due: typescript-check

feat(dashboard): add Dashboard V2 Command Center
  frontend/src/components/dashboard/HubWidget.vue
  frontend/src/components/dashboard/KPICard.vue
  frontend/src/components/dashboard/SlideOver.vue
  frontend/src/components/dashboard/index.ts
  frontend/src/composables/useDashboardData.ts
  frontend/src/router/index.ts
  frontend/src/views/DashboardV2.vue
  frontend/src/views/__tests__/DashboardV2.spec.ts
Due: typescript-check

fix(dashboard): remove duplicate /api prefix from API calls
  frontend/src/composables/useDashboardData.ts
Due: typescript-check

fix(dashboard): dropdown click-outside bug + sidebar link
  frontend/src/components/dashboard/HubWidget.vue
  frontend/src/views/Layout.vue
Due: typescript-check

fix(dashboard): use test-id prop instead of data-testid attr
  frontend/src/views/DashboardV2.vue
Due: typescript-check

fix(ui): mobile sidebar auto-close + BaseInput prefix prop
  frontend/src/components/ui/forms/BaseInput.vue
  frontend/src/views/Layout.vue
Due: typescript-check

feat(dashboard): add Ekip/Üretim panels + toast notifications + optimistic UI
  frontend/src/App.vue
  frontend/src/components/ui/ToastContainer.vue
  frontend/src/composables/useToast.ts
  frontend/src/views/DashboardV2.vue
Due: typescript-check

feat(api): add BranchOperatingHours model and API
  backend/alembic/versions/l3m4n5o6p011_add_branch_operating_hours.py
  backend/app/api/branch_hours.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/schemas/__init__.py
  backend/tests/test_branch_operating_hours.py
Due: python-lint

feat: Add BranchHolidays with hybrid tenant isolation
  backend/alembic/versions/m4n5o6p7q012_add_branch_holidays_table.py
  backend/app/api/branch_holidays.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/schemas/__init__.py
  backend/tests/test_branch_holidays.py
Due: python-lint

fix(e2e): update dashboard and navigation test selectors for DashboardV2
  frontend/tests/e2e/dashboard/dashboard-functional.spec.ts
  frontend/tests/e2e/dashboard/dashboard.spec.ts
  frontend/tests/e2e/navigation/router-structure.spec.ts
Due: typescript-check

feat(api): add dashboard comparison and analytics export endpoints
  backend/alembic/versions/n5o6p7q8r013_add_cash_diff_analytics_index.py
  backend/app/api/cash_difference.py
  backend/app/api/reports.py
  backend/app/schemas/__init__.py
Due: python-lint

feat(dashboard): enhance DashboardV2 with Zen Mode, drill-down, and analytics
  frontend/src/components/dashboard/ActivityStreamWidget.vue
  frontend/src/components/dashboard/HubWidget.vue
  frontend/src/components/dashboard/KPICard.vue
  frontend/src/components/dashboard/KPIDrilldownPanel.vue
  frontend/src/components/dashboard/SlideOver.vue
  frontend/src/components/ui/index.ts
  frontend/src/composables/useDashboardData.ts
  frontend/src/router/index.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/src/views/DashboardV2.vue
  frontend/src/views/ImportHub.vue
  frontend/src/views/Layout.vue
  frontend/src/views/analytics/DailySalesDashboard.vue
Due: typescript-check

feat(wizard): add End-of-Day wizard with step-by-step flow
  frontend/src/components/ui/MasterDataModal.vue
  frontend/src/components/ui/UndoToast.vue
  frontend/src/components/wizards/end-of-day/CashCountStep.vue
  frontend/src/components/wizards/end-of-day/EndOfDayWizard.vue
  frontend/src/components/wizards/end-of-day/ExpenseConfirmStep.vue
  frontend/src/components/wizards/end-of-day/PlatformReconcileStep.vue
  frontend/src/components/wizards/end-of-day/SummaryStep.vue
  frontend/src/components/wizards/end-of-day/index.ts
  frontend/src/composables/useImportHub.ts
  frontend/src/composables/useOptimisticSave.ts
  frontend/src/composables/useUndoToast.ts
Due: typescript-check

test: add analytics and navigation E2E tests
  backend/tests/test_analytics_export.py
  backend/tests/test_analytics_index.py
  backend/tests/test_dashboard_comparison.py
  frontend/tests/e2e/analytics/daily-sales-dashboard.spec.ts
  frontend/tests/e2e/navigation/submenu-navigation.spec.ts
Due: typescript-check, python-lint

test(e2e): add mock auth fixture for Docker-free testing
  .claude/CLAUDE.md
  frontend/tests/e2e/fixtures/mock-auth.ts
  frontend/tests/e2e/fixtures/seeded-import-data.ts
Due: typescript-check

docs: add TESTING.md and dashboard comparison tests (TDD P0.40)
  docs/TESTING.md
Due: none

feat(api): add menu category CRUD with hybrid tenant isolation
  backend/app/api/menu_categories.py
  backend/tests/test_menu_categories.py
Due: python-lint

chore(db): add migration for menu_categories table
  backend/alembic/versions/o6p7q8r9s014_add_menu_categories_table.py
Due: python-lint

feat(api): add PUT/DELETE endpoints for menu categories
  backend/app/api/menu_categories.py
  backend/app/schemas/__init__.py
Due: python-lint

fix(cleanup): remove debug console.log statements
  frontend/src/components/dashboard/HubWidget.vue
  frontend/src/components/ui/EntitySelector.vue
  frontend/src/views/CashDifference.vue
Due: typescript-check

feat(api): add menu items CRUD with hybrid tenant isolation
  backend/app/api/menu_items.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/schemas/__init__.py
  backend/tests/test_menu_items.py
Due: python-lint

chore(db): add migration for menu_items table
  backend/alembic/versions/p7q8r9s0t015_add_menu_items_table.py
Due: python-lint

refactor(types): replace catch(e: any) with type-safe error handling
  frontend/src/components/payments/PaymentRecordsList.vue
  frontend/src/components/payments/SupplierARList.vue
  frontend/src/types/errors.ts
  frontend/src/types/index.ts
  frontend/src/views/CashDifference.vue
  frontend/src/views/CashDifferenceImport.vue
  frontend/src/views/CourierExpenses.vue
  frontend/src/views/Expenses.vue
  frontend/src/views/InvitationCodes.vue
  frontend/src/views/Login.vue
  frontend/src/views/Onboarding.vue
  frontend/src/views/Personnel.vue
  frontend/src/views/Production.vue
  frontend/src/views/Purchases.vue
  frontend/src/views/Settings.vue
  frontend/src/views/StaffMeals.vue
  frontend/src/views/UnifiedSales.vue
Due: typescript-check

Path conditions:
  typescript-check: any of: \.(ts|vue)$
  python-lint: any of: \.py$
