Repository okanyucel2/cigkoftecibey-webapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, python-lint

.pre-commit-config.yaml:

# Pre-commit configuration for cigkoftecibey-webapp
# P0.45 Application Integration Verification
#
# Install: pip install pre-commit && pre-commit install --hook-type pre-push
# Run: pre-commit run --all-files

repos:
  # Local hooks
  - repo: local
    hooks:
      # Pre-push: Run smoke tests (P0.45)
      - id: smoke-tests
        name: Smoke Tests (P0.45)
        entry: ./scripts/pre-push-smoke.sh --quick
        language: script
        stages: [pre-push]
        pass_filenames: false
        always_run: true
        verbose: true

      # Pre-commit: TypeScript check (frontend)
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npx vue-tsc --noEmit'
        language: system
        files: '\.(ts|vue)$'
        stages: [pre-commit]
        pass_filenames: false

      # Pre-commit: Python lint (backend)
      - id: python-lint
        name: Python Ruff Check
        entry: bash -c 'cd backend && ruff check app/ tests/'
        language: system
        files: '\.py$'
        stages: [pre-commit]
        pass_filenames: false

feat(menu): add branch-specific pricing with MenuItemPrice table
  backend/alembic/versions/q8r9s0t1u016_menu_items_branch_pricing.py
  backend/app/api/menu_items.py
  backend/app/models/__init__.py
  backend/app/schemas/__init__.py
  backend/tests/test_menu_items.py
Due: python-lint

docs: add ADR-001 Menu System with Branch-Specific Pricing
  backend/docs/architecture/ADR-001-menu-system-branch-pricing.md
Due: none

test(e2e): add Menu Items and Categories E2E tests
  frontend/tests/e2e/import/import-hub-modal.spec.ts
  frontend/tests/e2e/menu/menu-categories.spec.ts
  frontend/tests/e2e/menu/menu-items.spec.ts
  frontend/tests/e2e/menu/menu-smoke.spec.ts
Due: typescript-check

feat(menu): implement Menu Management frontend with two-tab page
  frontend/src/router/index.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/src/views/Layout.vue
  frontend/src/views/MenuManagement.vue
Due: typescript-check

fix: Add DATABASE_URL to genesis.yaml for correct local DB connection
  genesis.yaml
Due: none

fix: Replace catch(e: any) with unknown in SmartInsightCard and LoginView
  frontend/src/components/dashboard/SmartInsightCard.vue
  frontend/src/views/LoginView.vue
Due: typescript-check

fix(e2e): Update tests for Phase 1 route structure
  frontend/src/views/Giderler.vue
  frontend/tests/e2e/expenses/courier-expenses.spec.ts
  frontend/tests/e2e/expenses/staff-meals.spec.ts
  frontend/tests/e2e/import/import-flow.spec.ts
  frontend/tests/e2e/navigation/import-hub-navigation.spec.ts
  frontend/tests/e2e/navigation/submenu-navigation.spec.ts
Due: typescript-check

feat(bilanco-v2): Add list view panels to Hub Widgets
  frontend/src/components/dashboard/HubWidget.vue
  frontend/src/components/dashboard/SlideOver.vue
  frontend/src/components/embedded/CashDifferenceListEmbedded.vue
  frontend/src/components/embedded/ExpensesListEmbedded.vue
  frontend/src/components/embedded/PayrollListEmbedded.vue
  frontend/src/components/embedded/PersonnelListEmbedded.vue
  frontend/src/components/embedded/ProductionListEmbedded.vue
  frontend/src/components/embedded/PurchasesListEmbedded.vue
  frontend/src/components/embedded/SalesListEmbedded.vue
  frontend/src/components/embedded/StaffMealsListEmbedded.vue
  frontend/src/components/embedded/index.ts
  frontend/src/views/DashboardV2.vue
Due: typescript-check

fix(bilanco-v2): Remove add buttons from list panels
  frontend/src/components/embedded/CashDifferenceListEmbedded.vue
  frontend/src/components/embedded/ExpensesListEmbedded.vue
  frontend/src/components/embedded/PayrollListEmbedded.vue
  frontend/src/components/embedded/PersonnelListEmbedded.vue
  frontend/src/components/embedded/ProductionListEmbedded.vue
  frontend/src/components/embedded/PurchasesListEmbedded.vue
  frontend/src/components/embedded/SalesListEmbedded.vue
  frontend/src/components/embedded/StaffMealsListEmbedded.vue
Due: typescript-check

test: Add test line for PR monitor
  README.md
Due: none

feat(e2e): migrate playwright config to use @genesis/playwright-config
  frontend/tests/e2e/auth.spec.ts
  frontend/tests/e2e/menu/menu-smoke.spec.ts
Due: typescript-check

fix(frontend): resolve TypeScript build errors for Docker
  frontend/package.json
  frontend/src/composables/useAuth.ts
  frontend/src/router/index.ts
  frontend/src/types/index.ts
  frontend/tsconfig.json
Due: typescript-check

fix(frontend): regenerate package-lock and fix tsconfig.node
  frontend/package-lock.json
  frontend/tsconfig.node.json
Due: none

fix(frontend): use npm install instead of npm ci in Dockerfile
  frontend/Dockerfile
Due: none

fix(frontend): add build:prod script to skip type-check in Docker
  frontend/Dockerfile
  frontend/package.json
Due: none

fix(auth): resolve localStorage key mismatch between store and composable
  frontend/src/services/api.ts
  frontend/src/views/Login.vue
Due: typescript-check
